<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metanet.team4.payment.dao.IReservatoinRepository">

<insert id="insertReservation" parameterType="com.metanet.team4.payment.model.Reservation">
	<selectKey keyProperty="id" resultType="Long" order="BEFORE">
        SELECT RESERVATION_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO RESERVATION (
    	ID,
        RESERVATION_CODE, 
        RESERVATION_TIME, 
        PAYMENT_AMOUNT, 
        TICKET_TYPE, 
        TICKET_STATUS, 
        RECEIPT_ID, 
        MEMBER_ID, 
        PLAYING_ID, 
        SEAT_ID
    ) VALUES (
        #{id},
        #{reservationCode}, 
        #{reservationTime, jdbcType=TIMESTAMP}, 
        #{paymentAmount}, 
        #{ticketType}, 
        #{ticketStatus}, 
        #{receiptId}, 
        #{memberId}, 
        #{playingId}, 
        #{seatId}
    )
</insert>

	
</mapper>