metanet4/HELP.md
metanet4/target/
!metanet4/.mvn/wrapper/maven-wrapper.jar
!metanet4/**/src/main/**/target/
!metanet4/**/src/test/**/target/

### STS ###
metanet4/.apt_generated
metanet4/.classpath
metanet4/.factorypath
metanet4/.project
metanet4/.settings
metanet4/.springBeans
metanet4/.sts4-cache

### IntelliJ IDEA ###
metanet4/.idea
metanet4/*.iws
metanet4/*.iml
metanet4/*.ipr

### NetBeans ###
metanet4/nbproject/private/
metanet4/nbbuild/
metanet4/dist/
metanet4/nbdist/
metanet4/.nb-gradle/
metanet4/build/
!metanet4/**/src/main/**/build/
!metanet4/**/src/test/**/build/

### VS Code ###
metanet4/.vscode/

# Created by https://www.toptal.com/developers/gitignore/api/eclipse,java,maven
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse,java,maven

### Eclipse ###
metanet4/.metadata
metanet4/bin/
metanet4/tmp/
metanet4/*.tmp
metanet4/*.bak
metanet4/*.swp
metanet4/*~.nib
metanet4/local.properties
metanet4/.settings/
metanet4/.loadpath
metanet4/.recommenders

# External tool builders
metanet4/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
metanet4/*.launch

# PyDev specific (Python IDE for Eclipse)
metanet4/*.pydevproject

# CDT-specific (C/C++ Development Tooling)
metanet4/.cproject

# CDT- autotools
metanet4/.autotools

# Java annotation processor (APT)
metanet4/.factorypath

# PDT-specific (PHP Development Tools)
metanet4/.buildpath

# sbteclipse plugin
metanet4/.target

# Tern plugin
metanet4/.tern-project

# TeXlipse plugin
metanet4/.texlipse

# STS (Spring Tool Suite)
metanet4/.springBeans

# Code Recommenders
metanet4/.recommenders/

# Annotation Processing
metanet4/.apt_generated/
metanet4/.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
metanet4/.cache-main
metanet4/.scala_dependencies
metanet4/.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#metanet4/.project

### Eclipse Patch ###
# Spring Boot Tooling
metanet4/.sts4-cache/

### Java ###
# Compiled class file
metanet4/*.class

# Log file
metanet4/*.log

# BlueJ files
metanet4/*.ctxt

# Mobile Tools for Java (J2ME)
metanet4/.mtj.tmp/

# Package Files #
metanet4/*.jar
metanet4/*.war
metanet4/*.nar
metanet4/*.ear
metanet4/*.zip
metanet4/*.tar.gz
metanet4/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
metanet4/hs_err_pid*
metanet4/replay_pid*

### Maven ###
metanet4/target/
metanet4/pom.xml.tag
metanet4/pom.xml.releaseBackup
metanet4/pom.xml.versionsBackup
metanet4/pom.xml.next
metanet4/release.properties
metanet4/dependency-reduced-pom.xml
metanet4/buildNumber.properties
metanet4/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
metanet4/.mvn/wrapper/maven-wrapper.jar

# Eclipse m2e generated files
# Eclipse Core
metanet4/.project
# JDT-specific (Eclipse Java Development Tools)
metanet4/.classpath

# Ignore application.properties
metanet4/src/main/resources/application.properties

.DS_Store
Metanet4/.DS_Store
/.metadata/
