<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metanet.team4.payment.dao.IReservatoinRepository">
	
	<select id="getReservationByUserIdAndCode" parameterType="map" resultMap="reservationResultMap">
	    SELECT 
	        r.ID, 
	        r.RESERVATION_CODE, 
	        r.RESERVATION_TIME, 
	        r.PAYMENT_AMOUNT, 
	        r.TICKET_TYPE, 
	        r.TICKET_STATUS, 
	        r.RECEIPT_ID, 
	        r.MEMBER_ID, 
	        r.PLAYING_ID,
	        s.ID AS seat_id, 
	        s.NAME AS seat_name,
	        s.PLAYING_ID AS seat_playing_id, 
	        s.RESERVATION_ID AS seat_reservation_id
	    FROM RESERVATION r
	    LEFT JOIN SEAT s ON r.ID = s.RESERVATION_ID
	    WHERE r.MEMBER_ID = #{userId} 
	      AND r.reservation_code = #{reservationCode}
	</select>
	
	<resultMap id="reservationResultMap" type="com.metanet.team4.payment.model.Reservation">
	    <id property="id" column="ID"/>
	    <result property="reservationCode" column="RESERVATION_CODE"/>
	    <result property="reservationTime" column="RESERVATION_TIME"/>
	    <result property="paymentAmount" column="PAYMENT_AMOUNT"/>
	    <result property="ticketType" column="TICKET_TYPE"/>
	    <result property="ticketStatus" column="TICKET_STATUS"/>
	    <result property="receiptId" column="RECEIPT_ID"/>
	    <result property="memberId" column="MEMBER_ID"/>
	    <result property="playingId" column="PLAYING_ID"/>
	    
	    <!-- Seat 리스트 매핑 -->
	    <collection property="seatList" ofType="com.metanet.team4.ticket.model.Seat">
	        <id property="id" column="seat_id"/>
	        <result property="name" column="seat_name"/>
	        <result property="playingId" column="seat_playing_id"/>
	        <result property="reservationId" column="seat_reservation_id"/>
	    </collection>
	</resultMap>

	<insert id="insertReservation" parameterType="com.metanet.team4.payment.model.Reservation">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
	        SELECT RESERVATION_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO RESERVATION (
	    	ID,
	        RESERVATION_CODE, 
	        RESERVATION_TIME, 
	        PAYMENT_AMOUNT, 
	        TICKET_TYPE, 
	        TICKET_STATUS, 
	        RECEIPT_ID, 
	        MEMBER_ID, 
	        PLAYING_ID
	    ) VALUES (
	        #{id},
	        #{reservationCode}, 
	        #{reservationTime, jdbcType=TIMESTAMP}, 
	        #{paymentAmount}, 
	        #{ticketType, jdbcType=VARCHAR}, 
	        #{ticketStatus}, 
	        #{receiptId}, 
	        #{memberId}, 
	        #{playingId}
	    )
	</insert>

	<!-- 예매 상세 정보 조회 -->
    <select id="getReservationDetail" parameterType="Long" 
            resultType="com.metanet.team4.payment.model.ReservationDetailDto">
        SELECT 
            m.watch_grade         AS watchGrade,
            m.krName             AS krName,
            p.playing_date       AS playingDate,
            p.start_time         AS startTime,
            p.end_time           AS endTime,
            c.name               AS cinemaName,
            sc.name              AS screenName,
            r.ticket_type        AS ticketType,
            r.reservation_code   AS reservationCode
        FROM Reservation r
             JOIN playing p  ON r.playing_id = p.id
             JOIN screen sc  ON p.screen_id = sc.id
             JOIN cinema c   ON sc.cinema_id = c.id
             JOIN movie m    ON p.movie_id = m.id
        WHERE r.id = #{reservationId}
    </select>

	<update id="updateTicketStatus" parameterType="map">
	    UPDATE RESERVATION
	    SET TICKET_STATUS = #{ticketStatus}
	    WHERE ID = #{reservationId}
	</update>

	
</mapper>